* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;

}

.register {
	background-color: rgba(97,203,217, 1);
	min-height: 100vh;
	position: relative;
}

form {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	background-color: white;
	padding: 30px;
	border-radius: 5px;
	color: black;
}

.form-control {
	width: 100%;
	height: 30px;
	margin-bottom: 15px;
	border-radius: 5px;
}
.btn-block {
	width: 100%;
	text-align: center;
	background-color: green;
	color: white;
	padding: 10px 30px;
	border-radius: 5px;
}

.alert, .alert-e {
	background-color: lime;
	color: white;
	text-align: center;
	padding: 5px;
	width: 50%;
	margin: 0 auto;
	visibility: hidden;
}

#name:focus ~ .alert {
	visibility: visible;	
}

#email:focus ~ .alert-e {
	visibility: visible;
}

.form-control:focus {
	background-color: lightblue;
}



input:focus {
	background-color: lightblue;
}

