/*Type Selector*/
	header {

		border: 5px solid black;
	}

	main {
		border: 1px dashed gray;
	}

	footer {
		border-top: 1px solid black;
	}

	h3 {
		margin-bottom: 0;
	}
/*ID Selector*/
	#article1 {
		background-color: #ccc;
	}

	#article2 {
		background-color: #aaa;
	}

	#footer {
		font-style: italic;
		text-align: center;
	}
/*Class Selector*/
	.container	{
		margin: 10%;
	}

	.article-section {
		background-color: #eee;
	}

	.author-name {
		font-style: italic;
		font-weight: bold;
		margin-top: 0px;
	}

	.caption {
		font-style: italic;
	}
/*Attribute Selector*/
	[src="http://lorempixel.com/400/200"] {
		width: 50px;
	}
	[href="home.html"] {
		text-decoration: none;
	}
	[href="login.html"],[href="register.html"] {
		font-size: 18px;
		font-weight: bold;
	}
/*Universal selector*/
	* {
		font-family: "Arial","Helvetica", sans-serif;
	}